body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
}


html {
  scroll-behavior: smooth;
}

/* mouse over link */
a:hover {
  color: #F7901E;
}

.menu {
  text-decoration: none;
}
  
#banner {
  /*background-color: #D6ECF8; blue*/ 
  background-color: #F7F4B6; /*yellow*/
  border-color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 2em; 
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0; 
  color: #0765A3;
} 

#headerbox {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
} 

header > h2 {
  font-size: 16pt;
  color : #0765A3;
}

body {
  background-color: #FFFFFF;;
  margin-top: 2em; 
  border: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

section {
  scroll-margin-top: 8rem; /*  accomodate for header  */
  text-align: left;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
/*      width: 768px;  */
}

/* If the screen size is 768px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 768px) {
  section {
    width: 768px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 768px) {
  section {
    width: 100%;
  }
}

.programsection + section {
  clear: both; 
  padding-top: 1em;
} 

#project_title {
  font-size: 26pt; 
  color : #0765A3;
  margin-top: 1em; 
}

section > h1 {
  font-size: 18pt; 
  color : #0765A3;
  margin-top: 1em; 
  border-bottom: solid; 
  border-bottom-width: 2px;
  border-bottom-color: #FFFFFF;;
}

section > h2 {
  clear: both;
  font-size: 14pt;
  color : #0765A3;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0;
  padding-bottom: 0; 
}

p, ul {
  font-family: "Open Sans",sans-serif;
  font-size: 11pt;
  font-weight: 400; 
  line-height: 1.5; 
} 

.pres {
  clear: both;
  margin: 0; 
  width: 100%;
  padding: 0; 
  vertical-align: top;
  border-top: solid; 
  border-top-color: rgb(224,224,224); 
  border-top-width: 2.5em;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-family: "Open Sans",sans-serif;
  font-size: 11pt;
  font-weight: 400; 
  line-height: 1.5; 
}

.pres + section {
  padding-top: 2.5em;
  color: red;
} 

.pres + h2 {
  padding-top: 2.5em;
} 

.imgbox {
  width: 150px;
  height: 150px;
  float: left; 
  margin-right: 1em;
  background-color: rgb(255,255,255);
}

/*    img {
  width: 150px; 
}*/

em {
  font-family: "Open Sans",sans-serif;
  font-style: italic;
} 

del {
  text-decoration-style: double;
}


.promo {
padding-top: 30cm;
margin-top: 30cm;
}